version: 1
formatters:
  standard:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: standard
    stream: ext://sys.stdout
loggers:
  pipeline:
    level: INFO
    handlers:
      - console
    propagate: false
root:
  level: WARNING
  handlers:
    - console
